body {
    font-family: Arial, sans-serif;
    background-color: silver;
    display: block;
    margin: auto;
    width: 60%;
}

label {
    display: block;
    width: 60%;
}

input[type="text"], input[type="date"], input[type="tel"], 
input[type="email"] {
    display: block;
    text-align: center;
    width: 500px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
